{# templates/admin/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Edytuj Użytkownika{% endblock %}

{% block body %}
    <h1>Edytuj Użytkownika</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Zapisz</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_index') }}">Powrót do listy</a>
{% endblock %}