<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- Możesz dodać inne bloki dla dodatkowych zasobów w sekcji head -->
</head>
<body>
{% block body %}
    <!-- Domyślna zawartość body, jeśli nie jest nadpisywana przez dzieci -->
{% endblock %}

<div id="root">{% block react_root %}{% endblock %}</div>

{{ encore_entry_script_tags('app') }}
</body>
</html>